{% import "bootstrap/wtf.html" as wtf %}

extends base
block main
  div.outer
    div.main
      .row
        .col-sm-2
          h2(id="title") {{title}}
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          ul.flash
            {% for message in messages %}
            li {{ message }}
            {% endfor %}  
          {% endif %}
          {% endwith %}
      .row.form-area
        .col-sm-2
          form(id="form", method='POST', role='form')
            {{wtf.quick_form(response, button_map={'submit':'success'})}}
          meta(id="event-data", data="{{event}}")
        
