extends base
block main
  div.outer
    div.main
      .row
        .col-sm-2
          h2(id="title") We're trying to document who is signed-up. Are you currently signed up for the Young Democrats of Michigan?
      .row.form-area
        .col-sm-2
          form(id = "form",method='POST', role='form')
            ul
              li
                input.btn.btn-success.submit(type="submit", name="submit", value="Yes") Yes
              li
                input.btn.btn-warning.submit(type="submit", name="submit", value="Sign-up") No, but sign me up!
              li
                input.btn.btn-danger.submit(type="submit", name="submit", value="No") Not interested
